.home-hero {
	text-align:center;
	padding: 45px 0;
	background-image: url('../images/mainpage.jpg');
  background-position: center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  position: relative;
  .u-screen {
  	opacity: 0.3;
  }
  h4 {
    position: relative;
    z-index: 3;
    font-size: 32px;
    font-weight: 400;
  }
  h1 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    z-index: 3;
  }
	@media (min-width:680px) {
		padding: 100px 0;
		h1 {
			font-size: 24px;
		}		
    h4 {
      font-size: 64px;
    }
	}
}

.splash-1 {
  text-align: center;
  img {
    max-width: 280px;
    margin: 15px auto;
    display: block;
  }
  h2 {
    font-size: 24px;
    color: $primary;
    font-weight: bold;
  }
  @media (min-width: 991px) { 
    text-align: left;
    h2 {
      font-size: 32px;
    }
  }
}

.splash-2 {
  text-align: center;
  background-color: $primary;
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
  }
  p {
    color: #fff;
  }
}

.l-state {
  .container {
    width: 100%;
    max-width: none;
  }
  &.sac {
    .col-md-6:last-of-type {
      background-color: $tertiary;
      padding: 25px 0;
      position: relative;
      @media (min-width:991px) {
        &:after {
          content:"";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 50px 0 50px 45px;
          border-color: transparent transparent transparent $tertiary;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          right: -45px;
          z-index: 2;
        }
      }
    }
    .col-md-6:first-of-type {
      background: url('../images/sac.png'); 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
      @media (max-width:990px) {
        height: 260px;
      }
    }
  }
  &.sf {
    .col-md-6:last-of-type {
      background-color: $tertiary;
      padding: 25px 0;
      position: relative;
      @media (min-width:991px) {
        &:after {
          content:"";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 50px 45px 50px 0;
          border-color: transparent $tertiary transparent transparent;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          left: -45px;
          z-index: 2;
        }
      }
    }
    .col-md-6:first-of-type {
      background: url('../images/sf.png'); 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
      @media (max-width:990px) {
        height: 260px;
      }
    }
  }
  img {
    max-width: 180px;
    height: auto;
    margin: 0 auto 25px auto;
    display: block;
  }
  p {
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
}

.splash-3 {
  text-align:center;
  img {
    margin: 15px auto;
    border-radius: 5px;
  }
  a {
    display: block;
    margin: 0 auto;
    max-width: 240px;
  }
  p {
    margin-bottom: 25px;
  }
}