.home-hero {
	text-align:center;
	padding: 45px 0;
	background: url('../images/hero.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  position: relative;
  .screen {
  	display: block;
  	content:"";
  	width: 100%;
  	height: 100%;
  	background: rgba(0,0,0,0.3);
  	z-index: 2;
    position: absolute;
  	top: 0;
  	left: 0;
  }
  h1 {
    position: relative;
    z-index: 3;
    font-weight: 300;
  }
	@media (min-width:680px) {
		padding: 100px 0;
		h1 {
			font-size: 64px;
		}		
	}
}

.splash-1 {
  text-align: center;
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: $secondary;
  }
  @media (min-width: 991px) { 
    text-align: left;
  }
}

.splash-2 {
  text-align: center;
  background-color: $tertiary;
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: $primary;
  }
  p {
    color: #fff;
  }
}

.l-state {
  .container {
    width: 100%;
    max-width: none;
  }
  &.sac {
    .col-md-6:last-of-type {
      background-color: $primary;
      padding: 25px 0;
      position: relative;
      &:after {
        content:"";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 0 50px 65px;
        border-color: transparent transparent transparent $primary;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        right: -65px;
        z-index: 2;
      }
    }
    .col-md-6:first-of-type {
      background: url('../images/sac.png'); 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
      @media (max-width:990px) {
        height: 320px;
      }
    }
  }
  &.sf {
    .col-md-6:last-of-type {
      background-color: $primary;
      padding: 25px 0;
      position: relative;
      &:after {
        content:"";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 65px 50px 0;
        border-color: transparent $primary transparent transparent;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: -65px;
        z-index: 2;
      }
    }
    .col-md-6:first-of-type {
      background: url('../images/sf.png'); 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
      @media (max-width:990px) {
        height: 320px;
      }
    }
  }
  img {
    max-width: 180px;
    height: auto;
    margin: 0 auto 25px auto;
    display: block;
  }
  p {
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
}

.splash-3 {
  text-align:center;
  h2 {
    color: $secondary;
  }
  img {
    max-width: 140px;
    margin: 25px auto;
  }
  a {
    display: block;
    margin: 0 auto;
    max-width: 240px;
  }
}