---
title: Affiliations
---

<section class="u-hero">
  <div class="container">
    <h1>Affiliations</h1>
  </div>
</section>

<section class="container">
	<div class="row padding-md">
		<div class="col-xs-12 col-sm-6 col-md-8">	
			<p>
			  In an effort to support the construction and commercial HVAC industry, Airco Mechanical is proud to support numerous industry trade associations. We are members in good standing with the following trade organizations.
			</p>
			<ul>
			  <li>ACRE Association of Commercial Real Estate</li>
			  <li>AGC Associated General Contractors of America agc.org </li>
			  <li>APMC Associated Plumbing and Mechanical Contractors Association</li>
			  <li>ASA American Subcontractors Association ASAonline.com</li>
			  <li>ASHRAE American Society of Heating, Refrigeration </li>
			  <li>and Air-Conditioning Engineers</li>
			  <li>ASPE American Society of Precision Engineering</li>
			  <li>ASPE American Society of Professional Estimators</li>
			  <li>CFMA Construction Financial Management Association</li>
			  <li>CSUS ALUMNI ASSN. Sacramento State Alumni Association</li>
			  <li>DBIA Design Build Institute of American</li>
			  <li>GBC Green Building Certification Institute</li>
			  <li>IFMA International Facility Management Association</li>
			  <li>IAPMO International Association of Plumbing and Mechanical Officials</li>
			  <li>MCAA Mechanical Contractors Association of America</li>
			  <li>NFPA National Fire Protection Association</li>
			  <li>RECON Real Estate &amp; Construction Networking</li>
			  <li>Sacramento Metro Chamber of Commerce</li>
			  <li>SRBX Sacramento Regional Builders Exchange SRBX.org</li>
			  <li>SMACNA Sheet Metal and Air Conditioning Contractors' National Association</li>
			  <li>SMPS Society for Marketing Professional Services</li>
			  <li>USGBC US Green Building Council</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<%= image_tag 'affiliations.jpg', :class=>'margin-sm' %>			
		</div>
	</div>
</section>
<div class="m-more-links padding-lg">
	<div class="container">
		<h4>More About us</h4>
		<ul class="u-styled">
			<li><a href="history.html">History</a></li>
			<li><a href="corporate-culture.html">Corporate Culture</a></li>
			<li><a href="core-values.html">Core Values</a></li>
			<li><a href="market-sectors.html">Market Sectors</a></li>
		</ul>
	</div>
</div>