---
title: Careers
---

<section class="u-hero">
	<div class="container">
		<h1>Careers</h1>
	</div>
</section>

<section class="container margin-lg l-careers">	
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-xs-4">
					<%= image_tag 'careers-1.jpg' %>
				</div>
				<div class="col-xs-4">
					<%= image_tag 'careers-3.jpg' %>
				</div>
				<div class="col-xs-4">
					<%= image_tag 'careers-2.jpg' %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<p class="padding-md">
				We are always looking for new talented people to join our team. If you are interested in becoming an Airco Mechanical associate, please submit your resume to our corporate offices or email us and attach your resume.
			</p>
			<a class="fancybox button u-centered" data-fancybox-type="iframe" href="careers-form.html">
				Apply Now
			</a>
		</div>
	</div>
</section>

<section class="u-cta">
	<div class="container">	
		<h2>Let Us Build Your Next Project</h2>
		<p>
			Our specialties include heating, ventilation &amp; airconditioning systems, plumbing systems, process piping, and environmental control systems.
		</p>
		<a class="fancybox button" data-fancybox-type="iframe" href="contact-form.html">
			Contact us
		</a>
	</div>	
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>