---
title: Contact
---

<section class="u-hero">
	<div class="container">
		<h1>Contact</h1>
	</div>
</section>

<div class="l-contact-splash padding-md">
	<div class="container">	
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 u-text-center">
				<h3>Get in Touch!</h3>
				<p>
					For questions or general information...
				</p>
				<div class="row margin-sm">
					<div class="col-xs-12">
						<a class="fancybox button u-text-center" data-fancybox-type="iframe" href="contact-form.html">
							Contact us Online
						</a>
					</div>
				</div>
				<div class="row margin-sm">
					<div class="col-xs-12 col-sm-6">
						<%= image_tag 'sac-logo.png' %>
						<h4>Sacramento Airco Mechanical Inc.</h4>
						<p class="address">
							8210 Demetre Avenue<br>
							Sacramento, CA 95828<br>
							Telephone (916) 381-4523<Br>
							Fax (916) 386-0350
						</p>
					</div>
					<div class="col-xs-12 col-sm-6">
						<%= image_tag 'sf-logo.png' %>
						<h4>San Francisco Airco Mechanical Inc.</h4>
						<p class="address">
							401 13th Street Suite 2<br>
							San Francisco, CA 94130<br>
							Telephone (415) 982-4726<br>
							Fax (415) 726-2576
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container padding-md l-projects">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="u-text-center">Email by department</h3>
			<div class="margin-md"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_constuction@aircomech.com">
				<section>
					<h5>Construction</h5>
					<p>email_construction@aircomech.com</p>
				</section>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_controls@aircomech.com">
				<section>
					<h5>Controls</h5>
					<p>email_controls@aircomech.com</p>
				</section>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_engineering@aircomech.com">
				<section>
					<h5>Engineering</h5>
					<p>email_engineering@aircomech.com</p>
				</section>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_estimating@aircomech.com">
				<section>
					<h5>Estimating</h5>
					<p>email_engineering@aircomech.com</p>
				</section>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_marketing@aircomech.com">
				<section>
					<h5>Marketing</h5>
					<p>email_marketing@aircomech.com</p>
				</section>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_hr@aircomech.com">
				<section>
					<h5>Human Relations</h5>
					<p>email_hr@aircomech.com</p>
				</section>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_spd@aircomech.com">
				<section>
					<h5>Special Projects</h5>
					<p>email_spd@aircomech.com</p>
				</section>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_tab@aircomech.com">
				<section>
					<h5>Testing, Adjusting &amp; Balancing</h5>
					<p>email_tab@aircomech.com</p>
				</section>
			</a>
		</div>
	</div>
</div>

<section class="u-cta">
	<div class="container">	
		<h2>Our Team</h2>
		<p>
			Meet the people behind team Airco.
		</p>
		<a href="team.html" class="button">View Team</a>
	</div>	
</section>


<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>