---
title: Contact
---

<section class="u-hero">
	<div class="container">
		<h1>Contact</h1>
	</div>
</section>

<div class="l-contact-splash padding-md">
	<div class="container">	
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 u-text-center">
				<h3>Get in Touch!</h3>
				<p>
					Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper.
				</p>
				<div class="margin-md"></div>
				<div class="row margin-sm">
					<div class="col-xs-12 col-sm-6">
						<h4>Sacramento Airco Mechanical Inc.</h4>
						<p class="address">
							8210 Demetre Avenue<br>
							Sacramento, California 95828<br>
							Telephone (916) 381-4523<Br>
							Fax (916) 386-0350
						</p>
						<p>email@website.com</p>
					</div>
					<div class="col-xs-12 col-sm-6">
						<h4>San Francisco Airco Mechanical Inc.</h4>
						<p class="address">
							849 13th Street<br>
							San Francisco, California<br>
							Telephone (415) 982-4726<br>
							Fax (415) 726-2576
						</p>
						<p>email@website.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container padding-lg l-projects">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_constuction@aircomech.com">
				<section>
					<h5>Construction</h5>
					<p>email_construction@aircomech.com</p>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_controls@aircomech.com">
				<section>
					<h5>Controls</h5>
					<p>email_controls@aircomech.com</p>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_engineering@aircomech.com">
				<section>
					<h5>Engineering</h5>
					<p>email_engineering@aircomech.com</p>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_estimating@aircomech.com">
				<section>
					<h5>Estimating</h5>
					<p>email_engineering@aircomech.com</p>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_marketing@aircomech.com">
				<section>
					<h5>Marketing</h5>
					<p>email_marketing@aircomech.com</p>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_hr@aircomech.com">
				<section>
					<h5>Human Relations</h5>
					<p>email_hr@aircomech.com</p>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_spd@aircomech.com">
				<section>
					<h5>Special Projects</h5>
					<p>email_spd@aircomech.com</p>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a class="fancybox-block contact" href="mailto:email_tab@aircomech.com">
				<section>
					<h5>Testing, Adjusting &amp; Balancing</h5>
					<p>email_tab@aircomech.com</p>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
	</div>
</div>

<section class="u-cta">
	<div class="container">	
		<h2>Meet the Team</h2>
		<p>
			Lorem ipsum Ullamco do elit. Lorem ipsum In sunt ea dolore irure aute non nostrud adipisicing sunt proident aute sit Duis cillum.
		</p>
		<a href="javascript:void(0);" class="button">View</a>
	</div>	
</section>