---
title: Controls
---

<section class="u-hero">
  <div class="container">
    <h1>Controls</h1>
  </div>
</section>

<section class="container">
	<div class="row padding-md">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h4>Other Services</h4>
			<ul class="u-styled">
				<li><a href="design-build.html">Design Build</a></li>
				<li><a href="construction.html">Construction</a></li>
				<li><a href="special-projects.html">Special projects</a></li>
				<li><a href="testing-adjusting-and-balancing.html">Testing, Adjusting, &amp; Balancing</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<p>
				Airco Automation provides products and services intended to maximize comfort and efficiency within commercial buildings, institutional buildings, as well as data centers.  Building automation systems optimize the performance and maintenance of multiple building control systems. Airco uses Automated Logic control products that enable building owners / managers to integrate, automate and manage their buildings easily and efficiently.  Building automation systems greatly increase occupant comfort, decrease energy use and allow remote monitoring and control from anywhere in the world.
			</p>

			<p>
				By combining technology with experience and knowledge, Airco applies today’s innovative products to the solution of your building’s operational needs. The benefit is you can have confidence knowing you have a cost-effective, reliable Energy Management System.  
			</p>
			<p>
				Maximize value by selecting the solution and system that best suits our client. Airco Mechanical, Inc. believes that producing and promoting energy efficient products is not only our priority, it is our responsibility. 
			</p>

			<p>
				Airco Automation is an expert in:
			</p>
			<ul>
				<li>LEED Certification</li>
				<li>Demand Response Programs</li>
				<li>Performance-Based Retrofits</li>
			</ul>
			<p>
				We’re your “proactive partners” coordinating engineering through implementation.  We welcome the opportunity to apply our ability and experience to your building or renovation project.
			</p>
		</div>
	</div>
</section>