---
title: Design Build
---

<section class="u-hero">
  <div class="container">
    <h1>Design Build</h1>
  </div>
</section>

<section class="container">
	<div class="row padding-md">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h4>Other Services</h4>
			<ul class="u-styled">
				<li><a href="construction.html">Construction</a></li>
				<li><a href="special-projects.html">Special projects</a></li>
				<li><a href="controls.html">Controls</a></li>
				<li><a href="testing-adjusting-and-balancing.html">Testing, Adjusting, &amp; Balancing</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<p>
			  Exceeding the needs of today’s construction industry has inspired the design/build philosophy at Airco Mechanical, Inc. Airco is a single source for the entire mechanical system of a building, from design to complete installation, to warranty and after in the preventative maintenance and service of the building.  
			</p>
			<h4>Engineering</h4>
			<p>
			  Our engineering department is a critical asset to the design / build process.  We work with our clients from the first conception of their project to completion. We are staffed with experienced licensed mechanical engineers, designers and CAD Operators.
			</p>
			<p>
			  Airco’s engineering team has the ability to design comprehensive mechanical systems specific to our clients needs, always considering a project's budget, schedule and sustainability. 
			</p>
			<h4>Automated Building Logic Technology</h4>
			<p>
			  Our control engineers work hard to keep costs down and efficiencies high. Our control technology keeps your HVAC systems working at peak performance. At Airco, we use the latest software to design your environmental controls system.
			</p>
		</div>
	</div>
</section>