---
title: History
---

<section class="u-hero">
  <div class="container">
    <h1>History</h1>
  </div>
</section>

<section class="container">
	<div class="row padding-md">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h4>More About us</h4>
			<ul class="u-styled">
				<li><a href="corporate-culture.html">Corporate Culture</a></li>
				<li><a href="core-values.html">Core Values</a></li>
				<li><a href="market-sectors.html">Market Sectors</a></li>
				<li><a href="affiliations.html">Affiliations</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<p>
			  Airco Mechanical was founded in 1974 by James C. Jones. Mr. Jones believed there was a better way to serve the industry. Mr. Jones established a full service engineering and construction company that would focus on design build projects.  Airco has since grown to keep up with construction best practices by incorporating virtual design and construction (VDC), building automation management, (BIM) and most recently a service department.  
			</p>
			<p>
			  Mr. Jones continued to lead the company well into his 80’s. In 2008 a new era began when Mr. Jones turned the company over to his son, Wyatt. Wyatt Jones became President and has been leading the company ever since.  It was Wyatt’s vision to expand to Treasure Island and to bring a service department under the Airco brand.
			</p>
		</div>
	</div>
</section>