---
title: Market Sectors
---

<section class="u-hero">
  <div class="container">
    <h1>Market Sectors</h1>
  </div>
</section>

<section class="container">
	<div class="row padding-md">
		<div class="col-xs-12 col-sm-6 col-md-8">	
			<p>
			  Airco Mechanical, Inc. works in a variety of market sectors in Northern California. We continually research our business opportunities and actively pursue new and growing markets. Our diverse skill sets and core competencies allow us to align ourselves with a multitude of clients and growing market sectors, including:
			</p>
			<ul class="u-styled">
			  <li>Healthcare</li>
			  <li>Education</li>
			  <li>Historical Preservation</li>
			  <li>Commercial Office</li>
			  <li>Technology</li>
			  <li>Industrial</li>
			  <li>Hospitality</li>
			  <li>Government</li>
			  <li>Retail</li>
			  <li>Renovation</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<%= image_tag 'market-sectors.jpg', :class=>'margin-sm' %>			
		</div>
	</div>
</section>
<div class="m-more-links padding-lg">
	<div class="container">
		<h4>More About us</h4>
		<ul class="u-styled">
			<li><a href="history.html">History</a></li>
			<li><a href="corporate-culture.html">Corporate Culture</a></li>
			<li><a href="core-values.html">Core Values</a></li>
			<li><a href="affiliations.html">Affiliations</a></li>
		</ul>
	</div>
</div>