---
title: Projects
---

<section class="u-hero">
	<div class="container">
		<h1>Projects</h1>
	</div>
</section>

<div class="container padding-lg l-projects">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a class="fancybox-block" rel="group" href="images/example.png" title="Picture/Title Name">
				<section>
					<h5>Category 1</h5>
					<p>Additonal Info</p>
					<span>View</span>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a class="fancybox-block" rel="group" href="images/example.png" title="Picture/Title Name">
				<section>
					<h5>Category 1</h5>
					<p>Additonal Info</p>
					<span>View</span>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a class="fancybox-block" rel="group" href="images/example.png" title="Picture/Title Name">
				<section>
					<h5>Category 1</h5>
					<p>Additonal Info</p>
					<span>View</span>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a class="fancybox-block" rel="group" href="images/example.png" title="Picture/Title Name">
				<section>
					<h5>Category 1</h5>
					<p>Additonal Info</p>
					<span>View</span>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a class="fancybox-block" rel="group" href="images/example.png" title="Picture/Title Name">
				<section>
					<h5>Category 1</h5>
					<p>Additonal Info</p>
					<span>View</span>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a class="fancybox-block" rel="group" href="images/example.png" title="Picture/Title Name">
				<section>
					<h5>Category 1</h5>
					<p>Additonal Info</p>
					<span>View</span>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a class="fancybox-block" rel="group" href="images/example.png" title="Picture/Title Name">
				<section>
					<h5>Category 1</h5>
					<p>Additonal Info</p>
					<span>View</span>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<a class="fancybox-block" rel="group" href="images/example.png" title="Picture/Title Name">
				<section>
					<h5>Category 1</h5>
					<p>Additonal Info</p>
					<span>View</span>
				</section>
				<img src="images/example.png" alt="" />
			</a>
		</div>
	</div>
</div>

<section class="u-cta">
	<div class="container">	
		<h3>Let Us Build Your Next Project</h3>
		<p>
			Lorem ipsum Ullamco do elit. Lorem ipsum In sunt ea dolore irure aute non nostrud adipisicing sunt proident aute sit Duis cillum.
		</p>
		<a class="fancybox button" data-fancybox-type="iframe" href="/contact-form.html">
			Contact us
		</a>
	</div>	
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox-block").fancybox();
		$(".fancybox").fancybox();
	});
</script>