---
title: Projects
---

<section class="u-hero">
	<div class="container">
		<h1>Projects</h1>
	</div>
</section>

<div class="container padding-lg l-projects">
	<div class="row">
		<div class="col-xs-12 col-sm-4">				
				<h5>Our Projects</h5>
				<ul ezt="1" class="ezt-nav projects-ezt">	
			    <li><a href="javacsript:void(0);" class="ezt-active">Healthcare</a></li>
			    <li><a href="javacsript:void(0);">Education</a></li>
			    <li><a href="javacsript:void(0);">Commercial Office</a></li>
			    <li><a href="javacsript:void(0);">Technology</a></li>
			    <li><a href="javacsript:void(0);">Industrial</a></li>
			    <li><a href="javacsript:void(0);">Hospitality</a></li>
			    <li><a href="javacsript:void(0);">Government</a></li>
			    <li><a href="javacsript:void(0);">Retail</a></li>
			    <li><a href="javacsript:void(0);">Renovation</a></li>
			  </ul>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div ezt="1" class="ezt-container projects-ezt-container">
			  <div class="ezt-content ezt-active">
			  	<h3>Healthcare</h3>
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="healthcare" href="images/projects/sutter.jpg" title="Sutter Tracy Community Hospital">
			  				<section>
			  					<h5>Sutter Tracy</h5>
			  					<p>Community Hospital</p>
			  				</section>
			  				<img src="images/projects/sutter.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="healthcare" href="images/projects/kaiser.jpg" title="Kaiser Medical Office Building, Sacramento">
			  				<section>
			  					<h5>Kaiser</h5>
			  					<p>Medical Office Building</p>
			  				</section>
			  				<img src="images/projects/kaiser.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="healthcare" href="images/projects/kaiser-roseville.jpg" title="Kaiser Roseville">
			  				<section>
			  					<h5>Kaiser Roseville</h5>
			  					<p>Hospital</p>
			  				</section>
			  				<img src="images/projects/kaiser-roseville.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Education</h3>
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="education" href="images/projects/community-college.jpg" title="Folsom Community College">
			  				<section>
			  					<h5>Folsom</h5>
			  					<p>Community College</p>
			  				</section>
			  				<img src="images/projects/community-college.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Commercial Office</h3>
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="commercial" href="images/projects/ziggurat.jpg" title="Ziggurat Building">
			  				<section>
			  					<h5>Ziggurat</h5>
			  					<p>Office Building</p>
			  				</section>
			  				<img src="images/projects/ziggurat.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="commercial" href="images/projects/btv.jpg" title="BTV Office Building">
			  				<section>
			  					<h5>BTV</h5>
			  					<p>Office Building</p>
			  				</section>
			  				<img src="images/projects/btv.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="commercial" href="images/projects/onecapitol.jpg" title="One Capitol Mall">
			  				<section>
			  					<h5>One Capitol Mall</h5>
			  					<p>Office Building</p>
			  				</section>
			  				<img src="images/projects/onecapitol.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="commercial" href="images/projects/500capitol.jpg" title="500 Capitol Mall">
			  				<section>
			  					<h5>500 Capitol Mall</h5>
			  					<p>Office Building</p>
			  				</section>
			  				<img src="images/projects/500capitol.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Technology</h3>
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="technology" href="images/projects/ziminis.jpg" title="Siminis">
			  				<section>
			  					<h5>Siminis</h5>
			  					<p>Technology</p>
			  				</section>
			  				<img src="images/projects/siminis.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Industrial</h3>
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="industrial" href="images/projects/bogle.jpg" title="Bogle Wineries">
			  				<section>
			  					<h5>Bogle</h5>
			  					<p>Winery</p>
			  				</section>
			  				<img src="images/projects/bogle.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Hospitality</h3>
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="hospitality" href="images/projects/country-club.jpg" title="Serrano Country Club">
			  				<section>
			  					<h5>Serrano</h5>
			  					<p>Country Club</p>
			  				</section>
			  				<img src="images/projects/country-club.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="hospitality" href="images/projects/ella.jpg" title="Ella Restaurant">
			  				<section>
			  					<h5>Ella</h5>
			  					<p>Restaurant</p>
			  				</section>
			  				<img src="images/projects/ella.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="hospitality" href="images/projects/marriot.jpg" title="Marriott Hotel, Rancho Cordova">
			  				<section>
			  					<h5>Marriott Hotel</h5>
			  					<p>Rancho Cordova</p>
			  				</section>
			  				<img src="images/projects/marriot.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Government</h3>
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="government" href="images/projects/capital.jpg" title="State Capital – Security Atrium">
			  				<section>
			  					<h5>State Capital</h5>
			  					<p>Security Atrium</p>
			  				</section>
			  				<img src="images/projects/capital.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="government" href="images/projects/dmv.jpg" title="DMV">
			  				<section>
			  					<h5>DMV</h5>
			  					<p>Government</p>
			  				</section>
			  				<img src="images/projects/dmv.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="government" href="images/projects/strs.jpg" title="CalSTRS">
			  				<section>
			  					<h5>CalSTRS</h5>
			  					<p>Government</p>
			  				</section>
			  				<img src="images/projects/strs.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Retail</h3>
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="retail" href="images/projects/auto.jpg" title="Neillo Auto Dealerships">
			  				<section>
			  					<h5>Neillo</h5>
			  					<p>Auto Dealership</p>
			  				</section>
			  				<img src="images/projects/auto.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Renovation</h3>
			  	<div class="row">
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="renovation" href="images/projects/memorial.jpg" title="Sacramento Memorial Auditorium">
			  				<section>
			  					<h5>Sacramento</h5>
			  					<p>Memorial Auditorium</p>
			  				</section>
			  				<img src="images/projects/memorial.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12">
			  			<a class="fancybox-block" rel="renovation" href="images/projects/crocker.jpg" title="Crocker Art Museum">
			  				<section>
			  					<h5>Crocker</h5>
			  					<p>Art Museum</p>
			  				</section>
			  				<img src="images/projects/crocker.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			</div>
		</div>
	</div>
</div>

<section class="u-cta">
	<div class="container">	
		<h2>Let Us Build Your Next Project</h2>
		<p>
			Our specialties include heating, ventilation &amp; airconditioning systems, plumbing systems, process piping, and environmental control systems.
		</p>
		<a class="fancybox button" data-fancybox-type="iframe" href="contact-form.html">
			Contact us
		</a>
	</div>	
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox-block").fancybox();
		$(".fancybox").fancybox();
	});
</script>