---
title: Projects
---

<section class="u-hero">
	<div class="container">
		<h1>Projects</h1>
	</div>
</section>

<div class="container padding-md l-projects">
	<div class="row">
		<div class="col-xs-12 col-sm-4">								
				<ul ezt="1" class="ezt-nav projects-ezt">	
					<h5>Our Projects</h5>
			    <li><a href="javacsript:void(0);" class="ezt-active">Healthcare</a></li>
			    <li><a href="javacsript:void(0);">Education</a></li>
			    <li><a href="javacsript:void(0);">Commercial Office</a></li>
			    <li><a href="javacsript:void(0);">Industrial</a></li>
			    <li><a href="javacsript:void(0);">Hospitality</a></li>
			    <li><a href="javacsript:void(0);">Civic</a></li>
			    <li><a href="javacsript:void(0);">Retail</a></li>
			    <li><a href="javacsript:void(0);">Historic Renovation</a></li>
			    <li><a href="javacsript:void(0);">Central Utility Plants</a></li>
			  </ul>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div ezt="1" class="ezt-container projects-ezt-container">
			  <div class="ezt-content ezt-active">
			  	<h3>Healthcare</h3>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="healthcare" href="images/projects/healthcare/sutter-tracy-er-remodel.jpg" title="Sutter Tracy ER Remodel">
			  				<section>
			  					<h5>Sutter Tracy ER Remodel</h5>
			  				</section>
			  				<img src="images/projects/healthcare/sutter-tracy-er-remodel.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="healthcare" href="images/projects/healthcare/kaiser-south-sacremento.jpg" title="Kaiser South Sacramento">
			  				<section>
			  					<h5>Kaiser South Sacramento</h5>
			  				</section>
			  				<img src="images/projects/healthcare/kaiser-south-sacremento.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="healthcare" href="images/projects/healthcare/mercy-folsom-er.jpg" title="ercy Folsom ER">
			  				<section>
			  					<h5>Mercy Folsom ER</h5>
			  				</section>
			  				<img src="images/projects/healthcare/mercy-folsom-er.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="healthcare" href="images/projects/healthcare/communicare.jpg" title="Communicare">
			  				<section>
			  					<h5>Communicare</h5>
			  				</section>
			  				<img src="images/projects/healthcare/communicare.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>			  	
			  </div>
			  <div class="ezt-content">
			  	<h3>Education</h3>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="education" href="images/projects/education/csu-chico-housing-courtesy-sundt.jpg" title="CSU Chico Housing">
			  				<section>
			  					<h5>CSU Chico Housing</h5>
			  				</section>
			  				<img src="images/projects/education/csu-chico-housing-courtesy-sundt.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="education" href="images/projects/education/terero-hall-uc-davis.jpg" title="UC Davis Tercero Dining Hall">
			  				<section>
			  					<h5>UC Davis Tercero Dining Hall</h5>
			  				</section>
			  				<img src="images/projects/education/terero-hall-uc-davis.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="education" href="images/projects/education/grant-highschool.jpg" title="Grant High School">
			  				<section>
			  					<h5>Grant High School</h5>
			  				</section>
			  				<img src="images/projects/education/grant-highschool.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="education" href="images/projects/education/la-esceulita-education-center.jpg" title="La Esceulita Education Center">
			  				<section>
			  					<h5>La Esceulita Education Center</h5>
			  				</section>
			  				<img src="images/projects/education/la-esceulita-education-center.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="education" href="images/projects/education/san-jose-ccd.jpg" title="San Jose CCD">
			  				<section>
			  					<h5>San Jose CCD</h5>
			  				</section>
			  				<img src="images/projects/education/san-jose-ccd.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="education" href="images/projects/education/merrit-college.jpg" title="Merrit College">
			  				<section>
			  					<h5>Merrit College</h5>
			  				</section>
			  				<img src="images/projects/education/merrit-college.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="education" href="images/projects/education/mondavi.jpg" title="Robert Mondavi Institute for Wine and Food Science">
			  				<section class="small">
			  					<h5>Robert Mondavi Institute for Wine and Food Science</h5>
			  				</section>
			  				<img src="images/projects/education/mondavi.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">			  						  			
			  			<a class="fancybox-block" rel="education" href="images/projects/education/mission-college.jpg" title="Mission College">
			  				<section>
			  					<h5>Mission College</h5>
			  				</section>
			  				<img src="images/projects/education/mission-college.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="education" href="images/projects/education/csu-margin-dining-center.jpg" title="CSU Margin Dining Center">
			  				<section>
			  					<h5>CSU Margin Dining Center</h5>
			  				</section>
			  				<img src="images/projects/education/csu-margin-dining-center.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="education" href="images/projects/education/sonoma-state-university.jpg" title="Sonoma State University">
			  				<section>
			  					<h5>Sonoma State University</h5>
			  				</section>
			  				<img src="images/projects/education/sonoma-state-university.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="education" href="images/projects/education/uc-merced-science-and-engineering.jpg" title="UC Merced Science &amp; Engineering">
			  				<section>
			  					<h5>UC Merced Science &amp; Engineering</h5>
			  				</section>
			  				<img src="images/projects/education/uc-merced-science-and-engineering.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="education" href="images/projects/education/woodland-cc.jpg" title="Woodland Community College">
			  				<section>
			  					<h5>Woodland Community College</h5>
			  				</section>
			  				<img src="images/projects/education/woodland-cc.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Commercial Office</h3>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="commercial" href="images/projects/commercial-buildings/one-capitol-mall.jpg" title="One Capitol Mall">
			  				<section>
			  					<h5>One Capitol Mall</h5>
			  				</section>
			  				<img src="images/projects/commercial-buildings/one-capitol-mall.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="commercial" href="images/projects/commercial-buildings/panattoni.jpg" title="Panattoni Office Building">
			  				<section>
			  					<h5>Panattoni Office Building</h5>
			  				</section>
			  				<img src="images/projects/commercial-buildings/panattoni.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="commercial" href="images/projects/commercial-buildings/555-capitol-mall.jpg" title="500 Capitol Mall">
			  				<section>
			  					<h5>500 Capitol Mall</h5>
			  				</section>
			  				<img src="images/projects/commercial-buildings/555-capitol-mall.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="commercial" href="images/projects/commercial-buildings/calstrs.jpg" title="California State Teachers’ Retirement System">
			  				<section class="small">
			  					<h5>California State Teachers’ Retirement System</h5>
			  				</section>
			  				<img src="images/projects/commercial-buildings/calstrs.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">			  	
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="commercial" href="images/projects/commercial-buildings/ziggurat.jpg" title="The Zuggurat Building">
			  				<section>
			  					<h5>The Zuggurat Building</h5>
			  				</section>
			  				<img src="images/projects/commercial-buildings/ziggurat.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Industrial</h3>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="industrial" href="images/projects/industrial/bogel-winery-processing.jpg" title="Bogle Winery">
			  				<section>
			  					<h5>Bogle Winery</h5>
			  				</section>
			  				<img src="images/projects/industrial/bogel-winery-processing.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Hospitality</h3>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="hospitality" href="images/projects/hospitality/ella.jpg" title="Ella Dining Room and Bar">
			  				<section>
			  					<h5>Ella Dining Room &amp; Bar</h5>
			  				</section>
			  				<img src="images/projects/hospitality/ella.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="hospitality" href="images/projects/hospitality/serrano-cc.jpg" title="Serrano Country Club">
			  				<section>
			  					<h5>Serrano Country Club</h5>
			  				</section>
			  				<img src="images/projects/hospitality/serrano-cc.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="hospitality" href="images/projects/hospitality/citizens-hotel.jpg" title="Citizen Hotel">
			  				<section>
			  					<h5>Citizen Hotel</h5>
			  				</section>
			  				<img src="images/projects/hospitality/citizens-hotel.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Civic</h3>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="government" href="images/projects/government/ca-lottery.jpg" title="California Lottery Headquarters">
			  				<section>
			  					<h5>California Lottery Headquarters</h5>
			  				</section>
			  				<img src="images/projects/government/ca-lottery.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="government" href="images/projects/government/berkeley-art.jpg" title="Berkeley Art Museum Pacific Film Archive">
			  				<section class="small">
			  					<h5>Berkeley Art Museum Pacific Film Archive</h5>
			  				</section>
			  				<img src="images/projects/government/berkeley-art.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="government" href="images/projects/government/federal-dmea.jpg" title="Federal DMEA">
			  				<section>
			  					<h5>Federal DMEA</h5>
			  				</section>
			  				<img src="images/projects/government/federal-dmea.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="government" href="images/projects/government/california-state-capital.jpg" title="California State Capital">
			  				<section>
			  					<h5>California State Capital</h5>
			  				</section>
			  				<img src="images/projects/government/california-state-capital.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="government" href="images/projects/government/fire-station.jpg" title="City of Sacramento Fire Station 43">
			  				<section>
			  					<h5>City of Sacramento Fire Station 43</h5>
			  				</section>
			  				<img src="images/projects/government/fire-station.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="government" href="images/projects/government/new-sacremento-city-hall.jpg" title="New Sacremento City Hall">
			  				<section>
			  					<h5>New Sacremento City Hall</h5>
			  				</section>
			  				<img src="images/projects/government/new-sacremento-city-hall.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="government" href="images/projects/government/yolo-health-alcohol-and-mental-health.jpg" title="Yolo Health Alcohol &amp; Mental Health">
			  				<section>
			  					<h5>Yolo Health Alcohol &amp; Mental Health</h5>
			  				</section>
			  				<img src="images/projects/government/yolo-health-alcohol-and-mental-health.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="government" href="images/projects/government/granite-regional-park-office.jpg" title="Granite Regional Park Office">
			  				<section>
			  					<h5>Granite Regional Park Office</h5>
			  				</section>
			  				<img src="images/projects/government/granite-regional-park-office.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="government" href="images/projects/government/sf-museum.jpg" title="San Francisco Museum of Modern Art">
			  				<section>
			  					<h5>San Francisco Museum of Modern Art</h5>
			  				</section>
			  				<img src="images/projects/government/sf-museum.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="government" href="images/projects/government/california-health-care-facility.jpg" title="California Health Care Facility">
			  				<section>
			  					<h5>California Health Care Facility</h5>
			  				</section>
			  				<img src="images/projects/government/california-health-care-facility.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="government" href="images/projects/government/george-sim-community-center.jpg" title="George Sim Community Center">
			  				<section>
			  					<h5>George Sim Community Center</h5>
			  				</section>
			  				<img src="images/projects/government/george-sim-community-center.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Retail</h3>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="retail" href="images/projects/retail/pavillions.jpg" title="Pavillions">
			  				<section>
			  					<h5>Pavillions</h5>
			  				</section>
			  				<img src="images/projects/retail/pavillions.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="retail" href="images/projects/retail/porsche.jpg" title="Porsche">
			  				<section>
			  					<h5>Porsche</h5>
			  				</section>
			  				<img src="images/projects/retail/porsche.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Historic Renovation</h3>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="renovation" href="images/projects/historic-renovation/ca-state-capitol.jpg" title="CA State Capitol">
			  				<section>
			  					<h5>CA State Capitol</h5>
			  				</section>
			  				<img src="images/projects/historic-renovation/ca-state-capitol.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="renovation" href="images/projects/historic-renovation/historic-sacramento-city-hall.jpg" title="Historic Sacramento City Hall">
			  				<section>
			  					<h5>Historic Sacramento City Hall</h5>
			  				</section>
			  				<img src="images/projects/historic-renovation/historic-sacramento-city-hall.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="renovation" href="images/projects/historic-renovation/sacramento-memorial-auditorium.jpg" title="Sacramento Memorial Auditorium">
			  				<section>
			  					<h5>Sacramento Memorial Auditorium</h5>
			  				</section>
			  				<img src="images/projects/historic-renovation/sacramento-memorial-auditorium.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="renovation" href="images/projects/historic-renovation/opera-house.jpg" title="Diane B. Wilsey Opera House">
			  				<section>
			  					<h5>Diane B. Wilsey Opera House</h5>
			  				</section>
			  				<img src="images/projects/historic-renovation/opera-house.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="renovation" href="images/projects/historic-renovation/old-crocker-art.jpg" title="Old Crocker Art">
			  				<section>
			  					<h5>Old Crocker Art</h5>
			  				</section>
			  				<img src="images/projects/historic-renovation/old-crocker-art.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  </div>
			  <div class="ezt-content">
			  	<h3>Central Utility Plants</h3>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="renovation" href="images/projects/central-utility-plants/chiller-ucd-central-plant.jpg" title="Chiller UCD Central Plant">
			  				<section>
			  					<h5>Chiller UCD Central Plant</h5>
			  				</section>
			  				<img src="images/projects/central-utility-plants/chiller-ucd-central-plant.jpg" alt="" />
			  			</a>
			  		</div>
			  		<div class="col-xs-12 col-lg-6">
			  			<a class="fancybox-block" rel="renovation" href="images/projects/central-utility-plants/kaiser-south-cup.jpg" title="Kaiser South Cup">
			  				<section>
			  					<h5>Kaiser South Cup</h5>
			  				</section>
			  				<img src="images/projects/central-utility-plants/kaiser-south-cup.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-xs-12 col-lg-6">			  			
			  			<a class="fancybox-block" rel="renovation" href="images/projects/central-utility-plants/dmv.jpg" title="DMV">
			  				<section>
			  					<h5>DMV</h5>
			  				</section>
			  				<img src="images/projects/central-utility-plants/dmv.jpg" alt="" />
			  			</a>
			  		</div>
			  	</div>
			 	</div>
			</div>
		</div>
	</div>
</div>

<section class="u-cta">
	<div class="container">	
		<h2>Let Us Build Your Next Project</h2>
		<p>
			Our specialties include heating, ventilation &amp; airconditioning systems, plumbing systems, process piping, and environmental control systems.
		</p>
		<a class="fancybox button" data-fancybox-type="iframe" href="contact-form.html">
			Contact us
		</a>
	</div>	
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox-block").fancybox();
		$(".fancybox").fancybox();
	});
</script>