---
title: Safety
---

<section class="u-hero">
	<div class="container">
		<h1>Safety</h1>
	</div>
</section>

<section class="container margin-sm">	
	<div class="row">
		<div class="row-height">
			<div class="col-xs-12 col-md-6 col-md-height col-middle">
				<h4>Safety is the first priority for Airco Mechanical.</h4>
				<p>
					We believe it is our corporate responsibility provide our employees with a safe work environment so they go home to their families at the end of each work day. Our safety program exceeds industry standards and is constantly under the review of our safety committee. We have an extensive safety training program for all new hires and continued education for all employees. In 2004, Airco Mechanical Inc. became the first specialty contractor to receive a Safety Award of Excellence from the Associated General Contractors of California (AGC). 
				</p>
			</div>
			<div class="col-xs-12 col-md-4 col-md-height col-middle">
				<%= image_tag 'safety.jpg', :class=>'margin-sm' %>
			</div>
		</div>
	</div>
</section>

<section class="u-cta">
	<div class="container">	
		<h2>Let Us Build Your Next Project</h2>
		<p>
			Our specialties include heating, ventilation and air conditioning systems, plumbing systems, process piping, environmental control systems, and equipment service.
		</p>
		<a class="fancybox button" data-fancybox-type="iframe" href="contact-form.html">
			Contact us
		</a>
	</div>	
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>