---
title: Construction
---

<section class="u-hero">
  <div class="container">
    <h1>Service &amp; Maintenance</h1>
  </div>
</section>

<section class="container">
	<div class="row padding-md">
		<div class="col-xs-12 col-sm-6 col-md-8">	
			<h2>24/7 Service &amp; repair</h2>

			<h4>Airco Service</h4>
			<p>
				The Airco Service Department was created to support all aspects of operating and maintaining existing commercial buildings. It often begins with the commissioning and start-up of new construction or special projects. Airco Service specializes in custom tailored maintenance programs required to keep the equipment fined tuned and operating efficiently, minimizing down time, and increasing equipment life expectancy. 
			</p>
			<h4>Airco Service Focus</h4>
			<p>
				The Service Department is focused on providing all services required to manage buildings and maintain building comfort. Airco has been serving Northern California for over 40 years providing the highest level of service in construction, special projects, sheet metal fabrication, automated controls, mechanical and plumbing engineering, and continued service support 24/7.
			</p>
			<h4>Airco Service Technicians</h4>
			<p>
				At Airco technicians undergo an extensive five-year training program while working hands on in the field with seasoned journeymen.  Our Union technicians receive factory training from our manufacturers and distributors, which is extremely important in keeping up with technological changes in today’s fast paced world.
			</p>
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h4>Airco Services</h4>
			<ul>
				<li>24/7 Service &amp; repair for commercial and industrial buildings</li>
				<li>LEED Certification</li>
				<li>Retro Commissioning</li>
				<li>Energy Audits</li>
				<li>Sustainable HVAC Solutions</li>
				<li>Indoor Air Quality Solutions (IAQ)</li>
				<li>Cost Effective Preventative Maintenance Programs</li>
				<li>TAB Certified Air Balancing</li>
				<li>Water Treatment Programs</li>
				<li>DDC BMS/EMS Control Systems of All Types</li>
				<li>Pneumatic Control Systems</li>
				<li>Building Purchase Due Diligence Inspections</li>
				<li>Fixed Cost Reduction Programs</li>
				<li>Data Center Optimization</li>
			</ul>			
		</div>
	</div>
</section>

<section class="u-grey-bg u-text-center padding-sm">
	<div class="container">	
		<h3>Get in Touch!</h3>
		<p>
			For questions or general information...
		</p>
		<div class="row">
			<div class="col-xs-12">
				<a class="fancybox button u-text-center u-margin-none" data-fancybox-type="iframe" href="contact-form.html">
					Contact us Online
				</a>
			</div>
		</div>
	</div>	
</section>

<div class="m-more-links padding-lg">
	<div class="container">
		<h4>Other Services</h4>
		<ul class="u-styled">
			<li><a href="design-build.html">Design Build</a></li>
			<li><a href="special-projects.html">Special projects</a></li>
			<li><a href="controls.html">Controls</a></li>
			<li><a href="construction.html">Construction</a></li>
			<li><a href="testing-adjusting-and-balancing.html">Testing, Adjusting, &amp; Balancing</a></li>
		</ul>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>