---
title: Special Projects
---

<section class="u-hero">
  <div class="container">
    <h1>Special Projects</h1>
  </div>
</section>

<section class="container">
	<div class="row padding-md">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h4>Other Services</h4>
			<ul class="u-styled">
				<li><a href="design-build.html">Design Build</a></li>
				<li><a href="construction.html">Construction</a></li>
				<li><a href="controls.html">Controls</a></li>
				<li><a href="testing-adjusting-and-balancing.html">Testing, Adjusting, &amp; Balancing</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<p>
				Airco’s Special Projects Group was formed to service our clients fast track needs. We understand that smaller projects are often in occupied buildings and therefore need the same attention to detail as the rest of our work.  Our focus is on tenant improvements, equipment change outs, and uniquely specialized projects.  We are equipped and organized to tackle the most complex and fast track situations. Much of this work is with multiple long lasting repeat clients. 
			</p>
		</div>
	</div>
</section>