---
title: Sustainability
---

<section class="u-hero hero-sustainability">
	<div class="container">
		<h1>Sustainability</h1>
	</div>
</section>

<section class="container margin-lg">	
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<p>
				Being environmentally responsible is one of the core values at Airco Mechanical, Inc. We are committed to doing our part to preserve the environment in all aspects of our company.   Our organization has LEED (Leadership in Energy and Environmental Design) accredited personnel. Our experience spans the private and public sectors having completed the first private design/build LEED certified Green Building in Sacramento, as well as many plan/spec public works LEED certified projects. 
			</p>
		</div>
	</div>
</section>

<section class="u-cta">
	<div class="container">	
		<h3>Let Us Build Your Next Project</h3>
		<p>
			We work tirelessly from conceptual budgets and engineering design, to building information modeling, (BIM) to warranty and preventative maintenance.
		</p>
		<a class="fancybox button" data-fancybox-type="iframe" href="/contact-form.html">
			Contact us
		</a>
	</div>	
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>