---
title: Testing Adjusting &amp; Balancing
---

<section class="u-hero">
  <div class="container">
    <h1>Testing Adjusting &amp; Balancing</h1>
  </div>
</section>

<section class="container">
	<div class="row padding-md">
		<div class="col-xs-12 col-sm-6 col-md-8">	
			<p>
				As a TABB certified* company, Airco Automation, Inc offers design professionals, engineers and building owners the highest standard in testing and balancing of commercial HVAC systems.
			</p>
			<div class="margin-md"></div>
			<h5>Airco’s Testing, Adjusting and Balancing (TAB) Services include:</h5>
			<ul>
				<li>
					TABB  (Testing Adjusting and Balancing Bureau)
					<ul>
						<li>Certified TABB Reports</li>
						<li>ANSI (American National Standards Institute)</li>
						<li>
							TAB Services
							<ul>
								<li>Hydronic balance</li>
								<li>Air Balance</li>
								<li>Outside Air testing and documentation</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					Fire Life Safety (FLS)
					<ul>
						<li>Certified technicians and supervisors</li>
						<li>Periodic Damper Inspection Program</li>
						<li>Duct Smoke Detector Velocity Testing</li>
					</ul>
				</li>
				<li>
					Indoor Air Quality (IAQ)
					<ul>
						<li>Investigation and solution Services</li>
					</ul>
				</li>						
				<li>
					Hospital, Laboratory and Clean room Services
					<ul>
						<li>Perform 2009 Clean room Certification to ISO 14644 Standards</li>
					</ul>
				</li>
				
				<li>
					Isolation Room Testing
					<ul>
						<li>HEPA Filter Integrity Tests</li>
						<li>Particle Counting</li>
						<li>Shaker Calibration</li>
						<li>Walk-in freezer mapping</li>
						<li>CDA Clean Dry Air Testing</li>
						<li>Bacterial Counts</li>
						<li>
							Fume Hood Certification
							<ul>
								<li>ASHRAE 110 Test</li>
							</ul>
						</li>
					</ul>
				</li>					
				<li>
					Sensor Calibration
					<ul>
						<li>Oxygen sensor</li>
						<li>CO2 sensor</li>
						<li>Humidity sensor</li>
					</ul>
				</li>
				
				<li>
					Specialty Adjustment and Testing Services
					<ul>
						<li>Laser Alignment of belts, sheaves, and motors</li>
					</ul>
				</li>				
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<%= image_tag 'testing-adjusting-and-balancing.jpg', :class=>'margin-sm' %>			
		</div>
	</div>
</section>
<div class="m-more-links padding-lg">
	<div class="container">
		<h4>Other Services</h4>
		<ul class="u-styled">
			<li><a href="design-build.html">Design Build</a></li>
			<li><a href="construction.html">Construction</a></li>
			<li><a href="special-projects.html">Special projects</a></li>
			<li><a href="controls.html">Controls</a></li>
		</ul>
	</div>
</div>